In [3]:
import pandas as pd

In [24]:
# Cargar el archivo Bookings.csv
bookings_df = pd.read_csv('dataset/Bookings.csv')
properties_df = pd.read_csv('dataset/Properties.csv')

In [26]:
# Limpieza y transformacion en Properties
properties_df['ReadyDate'] = pd.to_datetime(properties_df['ReadyDate'], errors='coerce')
properties_df['PropertyType'].fillna('Unknown', inplace=True)

In [30]:
# Limpieza y transformacion en Bookings
bookings_df['BookingCreatedDate'] = pd.to_datetime(bookings_df['BookingCreatedDate'], errors='coerce')
bookings_df['ArrivalDate'] = pd.to_datetime(bookings_df['ArrivalDate'], errors='coerce')
bookings_df['DepartureDate'] = pd.to_datetime(bookings_df['DepartureDate'], errors='coerce')

In [32]:
# Manejo de valores nulos en Bookings
bookings_df['Channel'].fillna('Unknown', inplace=True)
bookings_df['RoomRate'].fillna(0, inplace=True)
bookings_df['Revenue'].fillna(0, inplace=True)
bookings_df['ADR'].fillna(bookings_df['RoomRate'], inplace=True)
bookings_df['TouristTax'].fillna(0, inplace=True)
bookings_df['TotalPaid'].fillna(bookings_df['Revenue'] + bookings_df['TouristTax'], inplace=True)

In [42]:
# EDA en Properties
print("Estadísticas descriptivas de Properties:")
print(properties_df.describe(datetime_is_numeric=True))

Estadísticas descriptivas de Properties:
         PropertyId    Capacity      Square  NumBedrooms  \
count    344.000000  344.000000  344.000000   344.000000
mean   40120.491279    4.811047   70.255814     2.133721
min     2883.000000    1.000000    0.000000     0.000000
25%    43052.750000    4.000000   50.000000     1.000000
50%    43231.500000    4.000000   66.000000     2.000000
75%    43445.000000    6.000000   80.000000     3.000000
max    43630.000000   12.000000  523.000000     5.000000
std    10300.292422    2.138579   41.473497     1.157872

                           ReadyDate
count                            344
mean   2021-03-10 00:41:58.369186048
min              2011-12-28 00:00:00
25%              2019-08-02 00:00:00
50%              2021-07-11 12:00:00
75%              2023-08-26 18:00:00
max              2024-12-13 00:00:00
std                              NaN

In [44]:
# EDA en Bookings
print("Estadísticas descriptivas de Bookings:")
print(bookings_df.describe(datetime_is_numeric=True))

Estadísticas descriptivas de Bookings:
         PropertyId  Property_BookingId             BookingCreatedDate  \
count  79595.000000        79595.000000                          79595
mean   32905.939092       109414.660016  2022-01-11 15:11:47.176392704
min     2883.000000        48745.000000            2011-11-24 06:44:02
25%    12688.000000        87699.500000     2020-09-10 17:41:55.500000
50%    43038.000000       111050.000000            2022-11-30 14:45:26
75%    43187.000000       133282.500000            2024-01-14 11:15:50
max    43630.000000       155168.000000            2024-12-09 00:00:00
std    16619.359274        27978.782124                            NaN

                         ArrivalDate                  DepartureDate  \
count                          79595                          79595
mean   2022-02-17 14:54:35.122557952  2022-02-23 01:23:13.791821056
min              2011-12-28 00:00:00            2012-01-06 11:00:00
25%              2020-09-28 00:00:00            2020-11-16 00:00:00
50%              2022-12-30 00:00:00            2023-01-05 00:00:00
75%              2024-02-19 00:00:00            2024-02-23 00:00:00
max              2025-08-28 00:00:00            2025-08-29 00:00:00
std                              NaN                            NaN

             Adults      Children       Infants       Persons     NumNights  \
count  79595.000000  79595.000000  79595.000000  79595.000000  79595.000000
mean       3.596934      0.416044      0.028595      4.041573      5.378566
min        0.000000      0.000000      0.000000      0.000000    -29.000000
25%        2.000000      0.000000      0.000000      3.000000      3.000000
50%        3.000000      0.000000      0.000000      4.000000      4.000000
75%        4.000000      0.000000      0.000000      5.000000      6.000000
max       12.000000      9.000000      4.000000     15.000000    925.000000
std        1.761671      0.885849      0.180560      1.831116     10.859763

           RoomRate   CleaningFee       Revenue           ADR    TouristTax  \
count  79595.000000  79595.000000  79595.000000  79595.000000  79595.000000
mean     858.034352     56.516353    908.921977    215.199524     61.842143
min     -179.900000      0.000000      0.000000      0.000000   -116.640000
25%      380.000000      0.000000    420.000000    135.000000     24.200000
50%      684.890000     66.550000    740.160000    191.900000     49.500000
75%     1132.000000     96.050000   1200.000000    266.345000     84.700000
max    32300.000000    327.000000  32300.000000  14070.000000    465.850000
std      846.193020     51.905713    863.985307    150.283423     51.046605

          TotalPaid
count  79595.000000
mean    1075.912741
min     -600.000000
25%      554.880000
50%      871.370000
75%     1352.880000
max    36150.000000
std      904.098250

In [46]:
# Unificacion de los datasets usando PropertyId como clave
merged_df = pd.merge(bookings_df, properties_df, on='PropertyId', how='left')
merged_df.head()

,PropertyId,Property_BookingId,BookingCreatedDate,ArrivalDate,DepartureDate,Adults,Children,Infants,Persons,NumNights,...,Revenue,ADR,TouristTax,TotalPaid,RealProperty,Capacity,Square,PropertyType,NumBedrooms,ReadyDate
0,43469,155168,2024-10-03 16:42:13,2024-10-09,2024-10-12,2,0,0,2,3,...,391.03,130.34,3.96,394.99,Yes,2.0,31.0,Apartment,0.0,2024-02-23
1,43025,155167,2024-03-10 00:00:00,2025-02-02,2025-02-07,3,0,0,3,5,...,1793.13,358.63,15.00,1808.13,Yes,4.0,60.0,Apa,2.0,2019-05-04
2,43404,155166,2024-03-10 00:00:00,2024-11-18,2024-11-25,3,0,0,3,7,...,827.17,118.17,144.38,971.55,Yes,5.0,45.0,Unknown,2.0,2023-03-22
3,43276,155165,2024-10-03 15:55:39,2024-11-14,2024-11-18,5,0,0,5,4,...,692.86,173.22,137.50,830.36,Yes,5.0,64.0,Apartment,4.0,2022-02-15
4,4138,155164,2024-10-03 15:53:02,2024-11-20,2024-12-06,5,0,0,5,16,...,2005.43,125.34,240.63,2246.06,Yes,5.0,60.0,Apartment,2.0,2013-08-07

In [48]:
# Rellenamos cualquier valor nulo resultante despues del merge (opcional)
merged_df.fillna({'PropertyType': 'Unknown', 'Channel': 'Unknown'}, inplace=True)

# Revision final de valores nulos
print("Valores nulos en el dataset unificado:")
print(merged_df.isnull().sum())

Valores nulos en el dataset unificado:
PropertyId            0
Property_BookingId    0
BookingCreatedDate    0
ArrivalDate           0
DepartureDate         0
Adults                0
Children              0
Infants               0
Persons               0
NumNights             0
Channel               0
RoomRate              0
CleaningFee           0
Revenue               0
ADR                   0
TouristTax            0
TotalPaid             0
RealProperty          9
Capacity              9
Square                9
PropertyType          0
NumBedrooms           9
ReadyDate             9
dtype: int64

In [52]:
#Guardamos el dataset unificado
merged_df.to_csv("dataset/merged_properties_bookings.csv", index=False)
print("El archivo unificado se ha guardado como merged_properties_bookings.csv")

El archivo unificado se ha guardado como merged_properties_bookings.csv